<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"></script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
  body {
    font-family: 'Roboto Condensed', sans-serif;
    max-height: 100vh;
  }
  ul {
    padding:0;
    margin:0;
  }
  li {
    display: inline-flex;
    align-items: center;
    color: white;
    vertical-align: middle;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-right: 5px;
  }

  li .btn {
    font-size: 12px;
    color: #3a0078;
    background-color: rgba(206, 210, 255, 0.575));
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    border: 1.5px solid rgb(217, 204, 255);
  }

  li .btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: #3a0078;
  }

  li .active {
    cursor: pointer;
    color: #fff;
    background-color: #3a0078;
  }

  li .active:hover {
    cursor: pointer;
    color: #fff;
    background-color: #500a9b;
  }

  .inline {
    display: inline;
  }

  .selectors {
    margin-top: 5px;
  }

  .title {
    font-size: 12px;
  }

  .title > span {
    font-size: 9px;
    padding: 1px 5px 1px 5px;
    background-color: #3a0078;
    border-radius: 8px;
    color: white;
  }

  .chart {
    position: relative;
    height:70vh;
    max-width:100vw;
  }
</style>

<body id="app">
    <div id="content">
      <div class="header">
        <div class="title">wb.tracker <span>0.0.1</span></div>
      </div>
      <div class="selectors">
        <p class="inline">Ключевые слова:</p>
        <ul class="inline">
          <li v-for="key in keywords" @click="toggleSelectors(key)">
            <div v-bind:class="(key.isActive) ? 'btn active' : 'btn'">{{ key.word }}</div>
          </li>
        </ul>
      </div>
      <div class="selectors">
        <p class="inline">Артикулы:</p>
        <ul class="inline">
          <li v-for="product in products" @click="toggleSelectors(product)">
            <div v-bind:class="(product.isActive) ? 'btn active' : 'btn'">{{ product.product }}</div>
          </li>
        </ul>
      </div>
      <p>Последние позиции:</p>
      <div class="chart">
        <canvas id="myChart" height="200"></canvas>
      </div>
    </div>
</body>
<script>
  const app = new Vue({
    data: {
      ws: new WebSocket("ws://127.0.0.1:9000"),
      ping: null,
      keywords: [],
      products: [],
      chart: null
    },
    methods: {
      toggleSelectors: function(selector){
        selector.isActive = !selector.isActive
        this.requestStats()
      },
      requestStats: function(){
        let req = {
          type:'get.stats',
          data: {
            products: (this.products).filter(obj => obj.isActive).map(el => el.product),
            keywords: (this.keywords).filter(obj => obj.isActive).map(el => el.word),
          }
        }
        if(req.data.products.length > 0 && req.data.keywords.length > 0){
          this.ws.send(JSON.stringify(req))
        }
      },
      updateChart: function(stats){

        function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++ ) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
        }

        function djb2(str){
          var hash = 5381;
          for (var i = 0; i < str.length; i++) {
            hash = ((hash << 5) + hash) + str.charCodeAt(i); /* hash * 33 + c */
          }
          return hash;
        }

        function hashStringToColor(str) {
          var hash = djb2(str);
          var r = (hash & 0xFF0000) >> 16;
          var g = (hash & 0x00FF00) >> 8;
          var b = hash & 0x0000FF;
          return "#" + ("0" + r.toString(16)).substr(-2) + ("0" + g.toString(16)).substr(-2) + ("0" + b.toString(16)).substr(-2);
        }


        labels = (this.keywords).filter(obj => obj.isActive).map(el => el.word)
        let data = []

        let datasets = []

        for(stat of stats){
          let idx = datasets.findIndex(obj => obj.label == stat.keyword)
          if(idx == -1){
            let color = hashStringToColor((stat.keyword).split("").reverse().join(""))
            datasets.push({
              label: stat.keyword,
              data: [],
              cubicInterpolationMode: 'monotone',
              tension: 0.4,
              backgroundColor: color
            })
            idx = datasets.length - 1
          }
          datasets[idx].data.push({
            x: stat.timestamp,
            y: stat.position
          })
        }

        this.chart.data.datasets = datasets
        const zoomOptions = {
          pan: {
              enabled: true,
              modifierKey: "",
            },
          limits: {
            y: {min:0, max:'original'},
            x: {}
          },
          zoom: {
            wheel: {
              enabled: true,
            },
            pinch: {
              enabled: true,
            },
            mode: "xy",
          }
        };

        this.chart.options = {
          animations: {
            y: {
              easing: 'easeInOutElastic',
              from: (ctx) => {
                if (ctx.type === 'data') {
                  if (ctx.mode === 'default' && !ctx.dropped) {
                    ctx.dropped = true;
                    return 0;
                  }
                }
              }
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          transitions: {
            zoom: {
              animation: {
                duration: 3000,
                easing: 'easeOutCubic'
              }
            }
          },
          maintainAspectRatio: false,
          responsive: true,
          plugins: {
            zoom: zoomOptions
          },
          scales: {
              x: {
                type: 'time',
                ticks: {
                  autoSkip: true,
                  autoSkipPadding: 50,
                  maxRotation: 0
                },
                time: {
                  displayFormats: {
                    hour: 'HH:mm',
                    minute: 'HH:mm',
                    second: 'HH:mm:ss'
                  }
                }
              },
              y: {
                beginAtZero: true,
                position: 'right',
                reverse: true,
              }
            }
        }

        this.chart.update()
      }
    },
    mounted: function(){
      this.ws.onopen = () => {
        this.ws.send(JSON.stringify({type:'ping', data:''}))
        this.ws.send(JSON.stringify({type:'get.keywords', data:''}))
        this.ws.send(JSON.stringify({type:'get.products', data:''}))
      };

      this.ws.onmessage = (event) => {
        let data = JSON.parse(event.data)
        console.log(data.data)
        switch(data.type){
          case 'ping': this.ping = true; break;
          case 'keywords':
            for(key of data.data){
              this.keywords.push({
                word: key,
                isActive: false
              })
            }
            break;
          case 'products':
            for(product of data.data){
              this.products.push({
                product: product,
                isActive: false
              })
            }
            break;
          case 'stats':
            console.log(data.data)
            this.updateChart(data.data)
            break;
        }
      };

      this.chart = new Chart('myChart', {
          type: 'line',
          data: {},
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                zoom: {
                  pan: {
                    enabled: true,
                    mode: 'xy',
                    modifierKey: 'shift',
                    overScaleMode: 'xy'
                  },
                  limits: {
                    y: {min:0, max:'original'},
                    x: {min: 'original', max:'original'}
                  },
                  zoom: {
                    wheel: {
                      enabled: true,
                    },
                    mode: 'xy'
                  }
                }
              },
          }
      })
    }
  });
  app.$mount("#content");
  </script>
</html>